.navbar {
    background: #31CDFD;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #31CDFD;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.header {
    background-image: url('./images/gzilla.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.59);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #31CDFD;
    text-shadow: 1px 1px 0 #000;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #31CDFD;
    background: #31CDFD;
    color: #fff;
}

.cards {
    margin: 4em 0;
    position: relative;
}

.cards h1 {
    color: #31CDFD;
    margin: 2em;
}

.cards .card {
    box-shadow: 0 0 20px #ccc;
}

.cards .card img {
    height: 12em;
}

.cards .card-title {
    color: #31CDFD;
}

.cards .card-body {
    padding: 1em;
}

.alert {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    transition: all .5s;
}

.hidden {
    right: -500px;
    transition: all .5s;
}